@charset "utf-8";

*{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	font-family:"Noto Sans KR";
	color: black;
<<<<<<< HEAD
=======
	text-decoration:none;
>>>>>>> 473be456a3e46c26242f977cf4c6d272cd0d531e
}

.ca_subject {
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -1.2px;
	line-height: 36px;
<<<<<<< HEAD
=======

>>>>>>> 473be456a3e46c26242f977cf4c6d272cd0d531e
}