@charset "utf-8";

a.godetail {

	max-width: 240px;
	height: 380px;
	padding: 10px;
	height: 380px;
}

.poster {
	width: 200px;
	height: 320px;
}

img {
	border: 0;
	display: block;
}

/*영화..*/
.nav>li>a, .nav>li>a {
	text-decoration: none;
	color:#653491;;	
}


.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	color:#fff;
	background-color:#CBB6D9;
	border:0px solid;
   padding: 10px;

}

.poster {
   width: 200px;
   height: 320px;
}

img {
   border: 0;
   display: block;
}
