@charset "utf-8";

a.godetail {
	display: inline-block;
	width: 240px;
	height: 490px;
	margin: 2px;
	padding: 10px;
	overflow: hidden;
}

.poster {
	display: inline-block;
	width: 100%;
	height: 370px;
	overflow: hidden;
	object-fit: cover;
	border-radius: 5px;
}

/*영화..*/
.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #CBB6D9;
	border: 0px solid;
}