<!DOCTYPE html>
<html>
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/footer.css" type="text/css" rel="stylesheet">
<title>footer</title>
</head>
<body>
	<footer>
		<div class="copy">
			<div class="btlogo">
				<a href="#"><img src="layout_image/logo.png" alt="하단로고"></a>
			</div>

			서비스 이용약관 | 개인정보 처리 | 방침회사 안내<br> 고객센터cs@whatpick.co.kr, 02-515-9985 사업자 등록 번호 XXX-XX-XXXXX<br> 주식회사 왓픽 서울특별시 강남구 역삼동<br> ©whatpick All rights reserved.<br>
		</div>


		<div class="sns">
			<ul>
				<li>
					<a href="#"><img src="layout_image/instagramlogo.png" alt="SNS 이미지1"></a>
				</li>
				<li>
					<a href="#"><img src="layout_image/facebook.png" alt="SNS 이미지2"></a>
				</li>
				<li>
					<a href="https://github.com/seyeonpark12/SemiProject" target="_blank"><img src="layout_image/githublogo.png" alt="SNS 이미지3"></a>
				</li>
			</ul>
		</div>
	</footer>
</body>
</html>